.designContain{
    
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
   
}
.akorson{
    border: solid lightgreen;
    background-color: aquamarine;
    padding: 40px;
    border-radius: 20px;
}

.akorson img{
    width: 200px;
}